<div id="conatiner">
	<h4> Input new values </h4>
	<a href="#graph"> Show Graph </a>
	<form class="form-horizontal">
		<div  ng-repeat="element in userModel" class="form-group">
			<label for="modelName" >Property:  <i> {{::element.dataName}} </i>Data Type:<i> {{::element.dataType}}</i></label>
			<input type="text" class="form-control" placeholder="">
		</div>
		<button type="submit" class="btn btn-default" ng-click='saveInput()'>Save input</button>
	</form>
	<p>Saved Inputs </p>
	<table class="table table-bordered">
		<tr>
			<th ng-repeat="element in userModel">{{::element.dataName}}</th>
		</tr>
		<tr ng-repeat="savedInput in inputs">
			<td ng-repeat="data in savedInput">{{data}}</td>
		</tr>
	</table>
</div>